@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg {
  background-color: rgb(80, 170, 255);
}
.light {
  color: white;
}
.dark {
  color: black;
}
.style_font {
  font-family: "Fredoka One", cursive;
}
.icon_col {
  color: rgb(80, 170, 255);
}
.icon_col_light {
  color: rgb(255, 255, 255);
}
.bg-blue {
  background-color: rgb(80, 170, 255);
}
.small_text {
  font-size: 0.8rem;
}